@import './simple-grid.scss';

@import './spinner.scss';

@import 'settings/_reset.scss';
@import 'settings/_fonts.scss';
@import 'settings/_colors.scss';

body {
    font-family: $font-base;
}

h3 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 60px;
    position: relative;

    &:after {
        content: url('./../images/Decoration.svg');
        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
    }
}

.main-login {
    padding-top: 10px;

    .row {
        display: flex;
        justify-content: flex-end;

        a {
            padding: 5px 10px;

            &:nth-of-type(2) {
                border: 1px solid #FAD648;
            }
        }
    }
}

.main-nav {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    a {
        padding: 10px 25px;
        cursor: pointer;

        &:first-of-type {
            border: 0.75px solid #3C3C3C;
        }
    }
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url('./../images/hero.png');
    background-position: -600px 0;
    background-repeat: no-repeat;

    .hero-text {
        display: flex;
        justify-content: flex-end;
        height: 60vh;
        align-items: center;

        .col-7 {
            text-align: center;
        }
    }
}

.home-columns {
    background-image: url('./../images/yellow_bkgrd.png');
    background-size: cover;

    .row {
        color: #5E5322;
        padding: 20px;

        .col-4 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                padding: 10px;
                text-align: center;

                &:nth-of-type(1) {
                    font-size: 56px;
                }

                &:nth-of-type(2) {
                    font-size: 16px;
                }

                &:nth-of-type(3) {
                    font-size: 12px;
                }
            }
        }
    }
}

.steps {
    text-align: center;

    .row {
        padding: 20px 10px;

        .col-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px 50px;

            span {
                padding: 5px 5px;

                &:nth-of-type(1) {
                    font-size: 16px;

                    &::after {
                        display: inline-block;
                        content: "";
                        border-top: 0.75px solid #707070;
                        width: 80%;
                        // transform: translateY(-1px);
                    }
                }

                &:nth-of-type(2) {
                    font-size: 14px;
                }
            }
        }
    }

    .grey-bkg {
        background-color: #F0F1F1;
    }
}

.about {
    background-color: #F0F1F1;
    display: flex;

    .half-screen {
        width: 50vw;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        padding: 100px 20px;

        &.about-bkg {
            background-image: url('./../images/People.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        img {
            margin-top: 40px;
            max-width: 100px;
            float: right;
        }
    }
}

.partners {
    text-align: center;

    .tabs {
        display: flex;
        width: 600px;
        justify-content: space-between;
        margin: 10px auto;
    }

    button {
        cursor: pointer;
        background: none;
        border: none;

        &.tab {
            padding: 2px 20px;
            font-size: 18px;
            width: 160px;
            line-height: 18px;
            height: 60px;
        }

        &.pager {
            padding: 10px;
        }

        &.active {
            border: 0.75px solid #707070;
        }
    }

    p {
        width: 600px;
        margin: 40px auto;
    }

    .single-company {
        text-align: left;
        margin: 10px auto;

        &:nth-of-type(1n+3)::before {
            display: inline-block;
            content: "";
            border-top: 0.75px solid #707070;
            width: 100%;
            margin: 10px 1px;
            // transform: translateY(-1px);
        }

        .top-details {
            width: 100%;
            display: flex;
            justify-content: space-between;


            .name {
                font-size: 20px;
            }

            .tags {
                font-size: 14px;
                color: #707070;
            }
        }
    }

}

.login {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .login-module {

        display: flex;
        justify-content: center;
        flex-direction: column;

        .controls {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        form {
            margin-top: 20px;
            background-color: #F0F1F1;
            display: flex;
            flex-direction: column;
            width: 300px;
            text-align: left;
            padding: 30px;

            span {
                margin: 10px 0;
            }


            input {
                border: none;
                background-image: none;
                background-color: transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-bottom: 0.75px solid #707070;
            }



        }
    }

}